body {
  background: url('https://cdn.discordapp.com/attachments/876434460143386706/1135678312384053389/95c65b3309be852a27de6e43ca38cd2a.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}

img {
  width: 80%;
  max-width: 200px;
  height: auto;
}

h1 {
  color: white;
  font-weight: bold;
  margin-top: 5vh;
  font-size: 3.5vh;
  text-shadow:
    -1.5px -1.5px 0 black,
    1.5px -1.5px 0 black,
    -1.5px  1.5px 0 black,
    1.5px  1.5px 0 black;
}

h2 {
  background-color: darkred;
  color: pink;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 0.5vh; /* Adjusted the margin to set the shop button lower */
  font-size: 3vh;
  text-shadow:
    -1.5px -1.5px 0 black,
    1.5px -1.5px 0 black,
    -1.5px  1.5px 0 black,
    1.5px  1.5px 0 black;
}

#counter {
  background-color: darkred;
  color: white;
  border-radius: 8px;
  padding: 2vh 4vh;
  display: inline-block;
  font-size: 2.5vh;
  text-shadow: none; /* Remove the shadow from the counter element */
}

#cookieBtn,
#resetBtn {
  border: none;
  background-color: darkred;
  color: white;
  padding: 2vh 4vh;
  border-radius: 8px;
  cursor: pointer;
  font-size: 2vh;
  margin-top: 0vh; /* Adjusted the margin to set the shop button lower */
  margin-bottom: 5vh; /* Increased the margin to push the shop button further down */
}

#shopBtn{
  border: none;
  background-color: darkgray;
  color: white;
  padding: 2vh 4vh;
  border-radius: 8px;
  cursor: pointer;
  font-size: 2vh;
  margin-top: 0vh;
  margin-bottom: 1vh;
}

#cookieBtn:focus,
#resetBtn:focus,
#shopBtn:focus {
  outline: none;
}

#cookieBtn:hover,
#resetBtn:hover,
#shopBtn:hover {
  background-color: #a40000;
}